/*header*/
.header {
  padding: 0 74px;
  min-width: 1330px;
  height: 92px;
  background: url(../images/header_bg.png) no-repeat center center;
  background-size: 100% 100%;
}
.header .navbar-brand {
  padding: 0;
  width: 200px;
  height: 92px;
}
.header div {
  height: 92px;
  width: 964px;
  position: relative;
}
.header div ul.nav {
  margin-top: 46px;
  padding: 12px 50px 0 50px;
  height: 46px;
  background: url(../images/nav_bg.png) no-repeat center center;
}
.header div ul.nav li {
  float: left;
}
.header div ul.nav li a {
  display: block;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  color: #fff;
}
.header div ul.nav li a:hover {
  background-color: transparent;
}
.header div ul.nav li.active > a {
  background: url(../images/navlist_bg.png) no-repeat center center;
  background-size: 100% 100%;
  color: #ff6d0c;
}
.header div div.info {
  max-width: 200px;
  height: 23px;
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 12px;
}
.header div div.info span.user {
  padding-left: 20px;
  background: url(../images/icon_user.png) no-repeat 0 center;
  color: #fff;
}
.header div div.info a.exit {
  margin-left: 25px;
  display: inline-block;
  width: 60px;
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
  background: url(../images/exit_bg.png) no-repeat 0 0;
  text-align: center;
  color: #fff;
}
