body {
  width: 100%;
  height: 100vh;
  background: url(../images/login_bg.png) no-repeat center center;
  background-size: 100% 100%;
  position: relative;
}
body button.active {
  outline: none;
}
body div.login {
  width: 376px;
  height: 426px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -213px;
  margin-left: -188px;
}
body div.login h1 {
  margin-bottom: 24px;
  text-align: center;
}
body div.login form {
  padding: 15px 0 20px;
  background-color: #fff;
  border-radius: 4px;
}
body div.login form h2 {
  padding: 0 20px;
  height: 48px;
  border-bottom: 1px solid #ccc;
}
body div.login form h2 span {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  border-bottom: 3px solid #3994e0;
  font-size: 18px;
  font-weight: 700;
}
body div.login form div {
  padding: 20px;
}
body div.login form div label {
  margin-bottom: 14px;
}
body div.login form div label input {
  padding-left: 40px;
  width: 330px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: normal;
}
body div.login form div label input:focus {
  border: 1px solid #49a0c9;
}
body div.login form div label input[type='text'] {
  background: url(../images/icon_username.png) no-repeat 12px center;
}
body div.login form div label input[type='password'] {
  background: url(../images/icon_pwd.png) no-repeat 9px center;
  width: 260px;
}
body div.login form div label a {
  padding: 4px 0;
  text-decoration: none;
  font-weight: normal;
  color: #333;
}
body div.login form div .passwtext {
  padding-left: 20px;
  color: #666;
  font-size: 12px;
  cursor: pointer;
}
body div.login form div button {
  height: 46px;
  border: none;
}
body div.login form div button:hover {
  background-color: #337ab7;
}
body div.login.forgetPsd {
  width: 450px;
  height: 522px;
  margin-top: -266px;
  margin-left: -216px;
}
body div.login.forgetPsd form > div {
  text-align: center;
}
body div.login.forgetPsd form > div label span {
  display: inline-block;
  width: 72px;
  font-weight: normal;
  text-align: right;
}
body div.login.forgetPsd form > div label input {
  margin-left: 10px;
  padding: 0 10px;
  width: 320px;
  background: none;
}
body div.login.forgetPsd form > div label button {
  margin-left: 20px;
  padding: 0 3px;
  border: 1px solid #3994e0;
  border-radius: 4px;
  font-weight: normal;
  background-color: #fff;
  color: #3994e0;
}
body div.login.forgetPsd form > div label button:hover {
  background-color: #fff;
}
body div.login.forgetPsd form > div label:first-child input {
  width: 220px;
}
body div.login.forgetPsd form > div .btn-default,
body div.login.forgetPsd form > div .btn-primary {
  width: 100px;
}
body div.login.forgetPsd form > div .btn-default,
body div.login.forgetPsd form > div .btn-default:hover {
  margin-left: 40px;
  background: #fff;
  border: 1px solid #ccc;
  color: #3994e0;
}
